* {
    box-sizing: border-box;
    outline:none;
}

.mainMenu {
    float: left;
    margin-top: 45px;
    margin-left: 20%;
    position: fixed;
}

.links{
    font-size: 40px;
    margin-top: 10px;
}

.link {
    line-height: 60px;
}

.link a {
    padding: 4px 20px 4px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    text-align: center;
}

.link:hover {
    background: #e7e7e8;
    border-radius: 30px;
}

.active {
    font-weight: 600;
}