<link href='https://css.gg/home-alt.css' rel='stylesheet'>
<div id="menus" *ngIf="isAuth" class="mainMenu"> 
    <div class="links">
        <div class="link">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="link">
            <a routerLink="/myposts" routerLinkActive="active">My posts</a>
        </div>
        <div class="link">
            <a routerLink="/saved-posts" routerLinkActive="active">Bookmarks</a>
        </div>
        <div class="link">
            <a routerLink="/search-users" routerLinkActive="active">Search</a>
        </div>
        <div class="link">
            <a routerLink="/user-profile/{{id}}" routerLinkActive="active">Profile</a>
        </div>
        <div class="link">
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</div>
