
<div class="profile">
    <div class="background">
        <img [src]="createImgPath(backgroungImage)" />
    </div>
    <div class="profileImage">
        <img [src]="user['profileImagePath']" />
    </div>
    <div class="profileText">
        <p>{{user['name']}} {{user['surname']}}</p>
        <div class="friendBtn" *ngIf="user['id']!=userId">
            <button id="friend-{{friendId}}" (click)="changeFriend(friendId)">friend</button>
        </div>
    </div>
</div>
<div class="info">
    <div class="friends">
        <a routerLink="/user-friends/{{friendId}}">Friends</a>
    </div>
</div>
<app-view-users-tweet [twitterPosts]="twitterPosts"></app-view-users-tweet>