.container {
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;
    
   
 }

 button {
    background: transparent;
    border: 0;
    transform: translateX(-40px);
    cursor: pointer;
   
 }