* {
    box-sizing: border-box;
    outline:none;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mainText {
    border: 1px solid black; 
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.mainText .fa {
    font-size: 30px;
    padding-right: 20px;
}

.mainText h2{
    font-size: 30px;
    font-weight: 600;
}


.twitterPost {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
}

.twitterPost:hover {
    background-color: #f7f7f7;
}

.flexBox {
    display: flexbox;
}

.flex {
    display: flex;
}

.userImage {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.userImage img {
    border-radius: 20px;
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    height: 100px;
}

.profileData {
    display: flex;
}

.profileData p,
.grey p {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 0;
    font-weight: 600;
    margin-top: 10px;
}

.grey p {
    color: grey;
}

.tweetText p {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
}

.imageCollage {
    max-width: 630px;
    max-height: 420px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:50%;  
    margin-bottom: 20px;
}

 .image img {
    width: auto;
    max-width: 300px;
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin-top: -5px;
    border-radius: 20px;
} 

.save {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.save i {
    font-size: 20px;
    background: black;
}