* {
    box-sizing: border-box;
    outline:none;
}

body { 
    font-family: Georgia, serif;
}

.mainText {
    border: 1px solid black; 
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.mainText .fa {
    font-size: 30px;
    padding-right: 20px;
}

.mainText h2{
    font-size: 30px;
    font-weight: 600;
}

.tweetForm {
    border: 2px solid black;
    display: flex;
    border-radius: 20px;
    width: 100%;
}

.profileImage,
.tweetForm textarea {
    margin: 10px;
}

.profileImage img {
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.tweetForm {
    position: inherit;
}

.tweetForm textarea {
    border: none;
    height: auto;
    width: 96%;
    min-height: 100px;
    min-width: 580px;
    resize: both;
    padding: 8px 10px;
    overflow:hidden;
    font-size: 20px;
}

.cancel button {
    background: none;
    font-size: 20px;
    position: absolute;
    border-radius: 20px;
    background: white;
}

.images {
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    min-width: 580px;
}

.image img {
    border-radius: 20px;
}

.upload button {
    border-radius: 20px;
    background: #1a91da;
    color: white;
    font-size: 30px;
}

.upload button,
.image img {
    width: 140px;
    height: 100px;
    margin: 5px;
}

.tweetBtn button {
    background: #1a91da;
    font-size: 30px;
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
    float: right;
    margin: 10px 0 10px;
}