
.flex {
    display: flex;
}

.tweetPost {
    border: 1px solid black; 
    padding-right: 10px;
    height: auto;
    border-radius: 20px;
}

.tweetPost:hover {
    background-color: #f7f7f7;
}

.tweetPost .profileImage img {
    margin: 10px;
    border-radius: 20px;
}

.text {
    display: flexbox;
}

.profileName {
    display: flex;
}

.profileName p {
    font-weight: 600;
    height: 10px;
}

.postText p,
.profileName p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grey p {
    color: grey;
    padding-left: 10px;
}

.postText p {
    margin-top: 0px;
}

.imageCollage {
    max-width: 630px;
    max-height: 420px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:50%;  
    margin-bottom: 20px;
}

 .image img {
    width: auto;
    max-width: 300px;
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin-top: -5px;
    border-radius: 20px;
} 

.icon {
    margin-left: 100%;
}

.icon i {
    position: absolute;
    font-size: 20px;
    margin-top: -15px;
    margin-left: -10px;
}

.icon :hover,
.form-container a:hover {
    color: #1a91da;
}

.form-popup {
    display: none;
    position: relative;
    float: right;
    margin-top: -100px;
    z-index: 9;
  }

  .form-container {
    position: absolute;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    display: flexbox;
    flex-wrap: wrap;
    width: auto;
    min-width: 150px;
    flex:100%;
    border: 1px solid black;
    border-radius: 20px;
  }

  .form-container a {
      text-decoration: none;
      display: flex;
      color: black;
      font-size: 24px;
  }
