
* {
    box-sizing: border-box;
    outline:none;
}

.flex {
    display: flex;
}

.tweetPost {
    border: 1px solid black; 
    padding-right: 10px;
    height: auto;
    border-radius: 20px;
}

.tweetPost:hover {
    background-color: #f7f7f7;
}

.tweetPost .profileImage img {
    margin: 10px;
    border-radius: 20px;
}

.text {
    display: flexbox;
}

.profileName {
    display: flex;
}

.profileName p {
    font-weight: 600;
    height: 10px;
}

.postText p,
.profileName p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grey p {
    color: grey;
    padding-left: 10px;
}

.postText p {
    margin-top: 0px;
}

.imageCollage {
    max-width: 630px;
    max-height: 420px;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:50%;  
    margin-bottom: 20px;
}

 .image img {
    width: auto;
    max-width: 300px;
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin-top: -5px;
    border-radius: 20px;
} 

.icon {
    margin-left: 100%;
}

.icon i {
    position: absolute;
    font-size: 20px;
    margin-top: -30px;
    margin-left: -20px;
}

.icon :hover,
.form-container a:hover {
    color: #1a91da;
}

.form-popup {
    display: none;
    position: relative;
    float: right;
    margin-top: -100px;
    z-index: 9;
  }

  .form-container {
    position: absolute;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    display: flexbox;
    flex-wrap: wrap;
    width: auto;
    min-width: 150px;
    flex:100%;
    border: 1px solid black;
    border-radius: 20px;
  }

  .form-container a {
      text-decoration: none;
      display: flex;
      color: black;
      font-size: 24px;
  }

  /*/////////Edit form/////////*/
  .editTweetForm {
      width: 100%;
      border-radius: 20px;
      border: 1px solid black;
      display: flex;
      flex-wrap: wrap;
  }

  
.editTweetForm .profileImage,
.editTweetForm textarea {
    margin: 10px;
    display: flex;
}

.editTweetForm .profileImage img {
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.editTweetForm {
    position: inherit;
}

.editTweetForm textarea {
    border: none;
    height: auto;
    width: 96%;
    min-width: 600px;
    min-height: 100px;
    resize: both;
    padding: 8px 10px;
    overflow:hidden;
    font-size: 20px;
}

.editTweetForm .emoji a {
    font-size: 20px;
}

.emoji-mart {
    position: absolute;
    margin-top: 25px;
    z-index: 289;
}


.editTweetForm .cancel button {
    background: none;
    font-size: 20px;
    position: absolute;
    border-radius: 20px;
    background: white;
}

.editImages {
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
}

.editImage img {
    border-radius: 20px;
}

.editTweetForm .upload button {
    border-radius: 20px;
    background: #1a91da;
    color: white;
    font-size: 30px;
}

.editTweetForm .upload button,
.editImage img {
    width: 140px;
    height: 100px;
    margin: 5px;
}

.editTweetForm .tweetBtn button {
    background: #1a91da;
    font-size: 30px;
    border-radius: 30px;
    color: white;
    padding: 5px 20px;
    float: right;
    margin: 10px 0 10px;
}