<link href='https://css.gg/more-o.css' rel='stylesheet'>
<link href='https://css.gg/card-hearts.css' rel='stylesheet'>
<link href='https://css.gg/comment.css' rel='stylesheet'>
<div *ngFor="let tweet of twitterPosts | sort:'desc':'dateCreation'">
    <ng-template [ngTemplateOutlet]="loadTemplate(tweet)" 
        [ngTemplateOutletContext]="{ $implicit: tweet}">
    </ng-template>
</div>

<ng-template #readOnlyTemplate let-tweet>
    <div class="tweetPost">
        <div class="flex">
            <div class="profileImage" *ngIf="user['profileImagePath']!=''">
                <img [src]="user['profileImagePath']" (click)="navigateToUserProfile(user['id'])"/>
            </div>
            <div class="text" routerLink="/view-tweet/{{tweet['id']}}">
                <div class="profileName">
                    <p>{{user['name']}} {{user['surname']}}</p>
                    <div class="grey">
                        <p>{{tweet['dateCreation']|date:'mediumDate'}}</p>
                    </div>
                </div>
                <div class="postText">
                    <p>{{tweet['postText']}}</p>
                </div>

                <div class="imageCollage">
                    <div class="image"  *ngIf="tweet['images']['image1']!=''">
                        <img [src]="createImgPath(tweet['images']['image1'])" /> 
                    </div>
                    <div class="image"  *ngIf="tweet['images']['image2']!=''">
                        <img [src]="createImgPath(tweet['images']['image2'])" /> 
                    </div>
                    <div class="image"  *ngIf="tweet['images']['image3']!=''">
                        <img [src]="createImgPath(tweet['images']['image3'])" /> 
                    </div>
                    <div class="image"  *ngIf="tweet['images']['image4']!=''">
                        <img [src]="createImgPath(tweet['images']['image4'])" /> 
                    </div>
                </div>

            </div>
        </div>
        <div class="flex">
            <div class="like">
                <i id="like-{{tweet['id']}}" class="gg-card-hearts" (click)="changeHeartIconTweet(tweet)"></i>
                <p>{{tweet['like']}}</p>
            </div>
            <div class="commentIcon">
                <i class="gg-comment"></i>
                <p>{{tweet['nComments']}}</p>
            </div>
        </div>
        <div class="icon">
            <i class="gg-more-o" (click)="togle3DotsForm(tweet['id'])"></i>
        </div>
        <div class="form-popup" id="myForm-{{tweet['id']}}" style="display: none;">
            <div class="form-container">
                <a (click)="deleteTwitterPost(tweet)">Delete Post</a>
                <a  (click)="editTwitterPostMethod(tweet)">Update Post</a>
                <a (click)="togle3DotsForm(tweet['id'])" >Close</a>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #editTemplate>
    <div class="editTweetForm">
        <div class="profileImage">
            <img [src]="user['profileImagePath']"/>
        </div>
        <form>
            <div class="textArea">
                <textarea autosize type="text" name="textarea" [(ngModel)]="editTwitterPost['postText']"
                required minlength="10" placeholder="What`s happening?" contenteditable></textarea>
                <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible"
                (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
            </div>
            <div class="emoji">
                <a (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</a>
            </div>
            <div class="editImages">
                <div *ngFor="let n of numbersOfImages; let i=index">
                    <div class="editImage">
                        <div class="cancel">
                            <button (click)="deletePhotoByPathForEdit(editTwitterPost['images']['image'+(i+1)],'image'+(i+1))"
                            *ngIf="editTwitterPost['images']['image'+(i+1)]">&times;</button>
                        </div>

                        <img [src]="createImgPath(editTwitterPost['images']['image'+(i+1)])" 
                        *ngIf="editTwitterPost['images']['image'+(i+1)]" />

                        <input type="file" #editfile (change)="uploadFilesForEdit(editfile.files,'image'+(i+1),(i+1))"
                        style="display: none;" multiple required onclick="this.value=null" />
                        <div class="upload" *ngIf="!editTwitterPost['images']['image'+(i+1)]">
                            <button id="editbut-{{(i+1)}}" (click)="editfile.click()" >+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tweetBtn">
                <button type="submit" 
                (click)="updateTwitterPost()">Update Tweet</button>
            </div>
        </form>
    </div>
</ng-template>

