<div class="mainText">
    <h2><a class="fa fa-twitter"></a>Search Twitter Posts</h2>
</div>
<div class="search">
    <div class="search-box">
        <input type="text" placeholder="Search #Twitter" name="search" [(ngModel)]="search" />
        <button type="submit" (click)="searchTweets()"><i class="fa fa-search"></i></button>
    </div>
</div>
<link href='https://css.gg/shape-square.css' rel='stylesheet'>
<link href='https://css.gg/card-hearts.css' rel='stylesheet'>
<link href='https://css.gg/comment.css' rel='stylesheet'>
<div class="twitterPosts">
    <div *ngFor="let tweet of twitterPosts | sort:'desc':'dateCreation'">
        <div class="twitterPost">
            <div class="flex">
                <div class="userImage">
                    <img [src]="tweet['user']['profileImagePath']"
                        (click)="navigateToUserProfile(tweet['user']['id'])" />
                </div>
                <div class="flexBox" routerLink="/view-tweet/{{tweet['id']}}">
                    <div class="flex">
                        <div class="profileData">
                            <p>{{tweet['user']['name']}} {{tweet['user']['surname']}}</p>
                        </div>
                        <div class="grey">
                            <p>{{tweet['dateCreation']|date:'mediumDate'}}</p>
                        </div>
                    </div>
                    <div class="tweetText">
                        <p>{{tweet['postText']}}</p>
                    </div>
                    <div class="imageCollage">
                        <div class="image" *ngIf="tweet['images']['image1']!=''">
                            <img [src]="createImgPath(tweet['images']['image1'])" />
                        </div>
                        <div class="image" *ngIf="tweet['images']['image2']!=''">
                            <img [src]="createImgPath(tweet['images']['image2'])" />
                        </div>
                        <div class="image" *ngIf="tweet['images']['image3']!=''">
                            <img [src]="createImgPath(tweet['images']['image3'])" />
                        </div>
                        <div class="image" *ngIf="tweet['images']['image4']!=''">
                            <img [src]="createImgPath(tweet['images']['image4'])" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="like">
                    <i id="like-{{tweet['id']}}" class="gg-card-hearts" (click)="changeHeartIconTweet(tweet)"></i>
                    <p>{{tweet['like']}}</p>
                </div>
                <div class="commentIcon">
                    <i class="gg-comment"></i>
                    <p>{{tweet['nComments']}}</p>
                </div>
            </div>
            <div class="save">
                <i id="save-{{tweet['id']}}" class="gg-shape-square" (click)="changeIconSavedPost(tweet['id'])"></i>
            </div>
        </div>
    </div>
</div>